.dropzone {
    overflow: visible;
    margin: .5em;
    text-align: center;
    background: #ff8;
    line-height: 4em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
    height: 4vh;
}
.ouf {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #ffff66;
}

.draggable {
    position: relative;
    z-index: 10;
    width: 200px;
    margin: .25em;
    padding: 1em 2em;
    background-color: transparent;
    color: #fff;
    text-align: center;
    position:relative;
    -ms-touch-action: none;
    touch-action: none;
}
