.dropzone-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropzone {
    overflow: visible;
    margin: .5em;
    color: #666;
    text-align: center;
    background: #ccc;
    line-height: 4em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
    height: 4vh;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #666;
    color: #fff;
}

.draggable {
    position: relative;
    z-index: 10;
    width: 200px;
    margin: .25em;
    padding: 1em 2em;
    background-color: transparent;
    color: #fff;
    text-align: center;
    position:relative
    width: 12vw;
    -ms-touch-action: none;
        touch-action: none;
}
