body {
  background-color: white;
}
.container {
  display: table;
  width: 100vw;
  height: 100vh;
}

.ingredients {
  background-color: #b2b2b2;
  position: absolute;
  left: 0px;
  width: 33vw;
  height: 100vh;
}

.builder {
  background-color: #a84cff;
  position: absolute;
  right: 0px;
  width: 67vw;
  height: 100vh;
}
