body {
  background-color: #F3B347;
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: table;
  width: 100vw;
  height: auto;
  margin-bottom:2vh;
}

.ingredients {
  background-color: #dddddd;
  position: absolute;
  left: 0px;
  width: 21vw;
  height: 200vh;
  border-radius: 8px;
  padding: 1vh;
  margin-left: 0px;
  margin-right: 21vw;
  padding-right: 2vw;
  box-shadow: 0 8px 16px 0 #000000;
}

.builder {
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  width: 75vw;
  height: 200vh;
  border-radius: 8px;
  padding: 1vh;
  margin-left: 21vw;
  margin-right: 0vw;
  box-shadow: 0 8px 16px 0 #000000;
}
